/* grid */


@media screen and (min-width: 320px) {
  .grid {
    display: grid;
    grid-template: 290px 290px
    / 230px 230px;
    grid-gap: 5px;
    justify-content: center;
  }

  .grid img{

    width: 230px;
    height: 290px;
    background-size: cover;

  }
}


@media screen and (min-width: 480px) {
  .grid {
    display: grid;
    grid-template: 290px 290px
    / 230px 230px;
    grid-gap: 5px;
    justify-content: center;
  }

  .grid img{

    width: 230px;
    height: 290px;
    background-size: cover;

  }
}

@media screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template: 290px 290px
    / 230px 230px;
    grid-gap: 5px;
    justify-content: center;
  }

  .grid img{

    width: 230px;
    height: 290px;
    background-size: cover;

  }

  .parallax {
      display: flex;
      /* The image used */
      background-image: url("../imgs/background@3x.png");
      width: 100%;
      /* Set a specific height */
      min-height: 300px;

      /* Create the parallax scrolling effect */
      background-attachment:inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .grid {
    display: grid;
    grid-template: 360px 360px
    / 300px 300px;
    grid-gap: 5px;
    justify-content: center;
  }

  .grid img{

    width: 300px;
    height: 360px;
    background-size: cover;

  }

  .parallax {
      display: flex;
      /* The image used */
      background-image: url("../imgs/background@3x.png");
      width: 100%;
      /* Set a specific height */
      min-height: 1024px;

      /* Create the parallax scrolling effect */
      background-attachment:inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

  .grid {
    display: grid;
    grid-template: 360px 360px 360px
    / 300px 300px 300px;
    grid-gap: 5px;
    justify-content: center;
  }

  .grid img{

    width: 300px;
    height: 360px;
    background-size: cover;

  }

  .parallax {
      display: flex;
      /* The image used */
      background-image: url("../imgs/background@3x.png");
      width: 100%;
      /* Set a specific height */
      min-height: 1440px;

      /* Create the parallax scrolling effect */
      background-attachment: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

  .grid{

  display: grid;
  grid-template: 260px 260px 260px 260px
  / 200px 200px 200px 200px;
  grid-gap: 5px;
  justify-content: center;


  }
  .grid img{

    width: 200px;
    height: 260px;
    background-size: cover;


  }

  .parallax {
      display: flex;
      /* The image used */
      background-image: url("../imgs/background@3x.png");
      width: 100%;
      /* Set a specific height */
      min-height: 1440px;

      /* Create the parallax scrolling effect */
      background-attachment: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

}
.parallax {
    display: flex;
    /* The image used */
    background-image: url("../imgs/background@3x.png");
    width: 100%;
    /* Set a specific height */
    min-height: 1440px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header {
  color: #000;
  font-size: 36px;
  padding-top: 80px;
  padding-bottom: 80px;

}


* {
  box-sizing: border-box;
}

.row > .column {
  padding: 8 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: flex;
  float: left;
  width: 25%;
  height: 150px;
}

/* The Modal (background) */
.modal {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position:relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 70%;

}

/* The Close Button */
.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.cursor {
  cursor: pointer;
  color: #fff;

}




/* Next & previous buttons */
.prev,

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: white;
  padding: 5px 20px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
